.card-item {
    .type-badge {
        position: absolute;
        background: red;
        color: white;
        padding: 5px 20px;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
    img {
        height: 400px;
        object-fit: cover;
    }
}