.card-item {
    img {
        height: 400px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .card-item {
        img {
            height: 300px;
        }
    }
}


@media (max-width: 500px) {
    .card-item {
        img {
            height: auto;
        }
    }
}